* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: hsl(0deg, 0%, 60%);
}

/* Add styles here! */
.max-width-wrapper {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;    
}

header {
  padding-top: 48px;
  padding-left: 56px;
  padding-bottom: 36px;
  background-color: white;
}

strong {
  color: hsl(160deg, 100%, 30%);
}

.intro-chunk {
  max-width: 256px;
}

main {  
  padding-top: 48px;
  border-top: hsl(0deg, 0%, 40%) solid 4px;
}

.card {  
  background-color: white;
  padding: 4px 24px 16px;  
  border-bottom: hsl(0deg, 0%, 40%) solid 4px;  
}

.indented-heading {
  padding: 16px 36px;
  background-color: hsl(45deg, 100%, 50%);
  width: fit-content;
  border-bottom: hsl(45deg, 100%, 40%) solid 4px;
  margin-left: -36px;
  margin-top: 4px;

}
